[Unit]
Description = Jars Refresh daemon

[Service]
Type = simple
ExecStart = /var/www/jars/plugins/refreshd/jars-refresh.sh start
Restart = on-failure
User = www-data
WorkingDirectory = /var/www/jars/plugins/refreshd

[Install]
WantedBy = multi-user.target
