[Unit]
Description = Jars Refresh daemon

[Service]
Type = simple
ExecStart = /usr/local/jars-refreshd/jars-refresh.sh start
Restart = on-failure
User = www-data
WorkingDirectory = /etc/jars

[Install]
WantedBy = multi-user.target
